.text1{
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  line-height: 3rem;
  margin-top: 2rem;
}

.text2{
  font-size: 1.1rem;
  text-align: center;
  line-height: 2.5rem;
  margin-top: 1.5rem;
}

.text3{
  margin: 2rem;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  margin-top: 1rem;
}

.text5{
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.text6{
  font-size: 1.6rem;
  font-weight: 600;
}
.text7{
  font-size: 1.4rem;
  font-weight: 500;
}

.text8{
  font-size: 1.9rem;
  font-weight: 600;
}

.text11{font-size: 0.8rem;}