header{
  position: fixed;
  z-index: 3; /* 섹션0보다는 높게 */
  height: 8rem;
  width: 100%; /* inline-block으로 변경이 되어서 가로 100%가 아니고 콘텐츠만큼영역이 됨 */
  padding: 0 2rem;
  transition: 0.3s ease-in-out;
}
.rel{
  max-width: 130rem;
  margin: auto;
}
header .hrel{
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left{
  display: flex;
  align-items: center;
  column-gap: 2rem;
  padding: 1rem 0;
}
/* logo */
.header_tit a{
  display: block;
  position: relative;
  width: 2rem;
  height: 2.3rem;
}


.h_nav{
  display: flex;
  column-gap: 2.5rem;
}
.h_nav li a{
  display: block;
  padding: 1rem;
  line-height: 2.2rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
}



/* subNav */
.subNav{
  display: none;
  position: absolute;
  top: 8rem;
  right: 0;  /* 모바일메뉴 나올때 오른쪽에 나오기 때문에 동일하게 맞춤 */
  width: 100%;
  height: 48rem;
  background-color: rgba(55,53,63,0.97);
}
.subNav .inner{
  background-color: transparent;
  display: flex;
  justify-content: center;
  max-width: 124rem;
  margin: auto;
  padding-top: 3.6rem;
  column-gap: 20rem;
}
.subNav .site_group{display: none;}  /* 모바일용이라 pc에서는 안보이게 함 */

/* 왼쪽배너 */
.banner_wrap{
  display: block;
  width: 36rem;
}
.banner{
  display: flex;
  border-radius: 1.6rem;
  padding: 2rem;
  justify-content: space-between;
}
.banner.b01{
  background-color: #8375C6;
  margin-bottom: 2rem;
}
.banner.b02{background-color: #75a6c6;}
.banner .btn{
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.541);
  border-radius: 3rem;
  padding: 0.9rem 1.7rem;
  font-size: 1.3rem;
  color: #fff;
}
.banner p{
  display: inline-block;
  padding-top: 1.1rem;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: #ffffff;
}

/* Sub-menu */
.sub_menu .depth1>li>span{display: none;}  /* 모바일용 메뉴는 안보이게 */
.sub_menu .sub_tit {
  display: block;
  color: #fff;
  font-size: 1.6rem;
}
.sub_menu .depth1 {
  display: flex;
  flex-wrap: wrap;  /* 공간이 부족하면 밑으로 떨어지게 함 */
}
.sub_menu .depth1>li {
  width: calc(100% / 3 - 2rem);
  padding-left: 2rem;
  margin-bottom: 4rem;
}
.sub_menu .depth2>li{
  color:#a4a4a4;
  font-size: 1.5rem;
}
.sub_menu .depth2 {
  display: block;
  background-color: transparent;
}

/* Scrolling->body에 scrolling을 붙이면--------------------------- */
.scrolling header{
  background-color: rgba(255, 255, 255, 0.68);
  border-bottom: 0.1rem solid #fff;
}
.scrolling .header_logo.white{opacity: 0;}
.scrolling .header_logo.black{opacity: 1;}
.scrolling .mob_btn span{background-color: #000;}

.scrolling .h_nav li a{color: #000;}
.scrolling .header_left .site_group{
  background-color: rgba(0,0,0,0.4);
  border-radius: 3.6rem;
}
.scrolling .sch_btn{background: url(../image/btn_totalsearch.png) no-repeat center/1.8rem;}

header:hover,
.dOpen header{
  background-color: #fff;
}
header:hover .header_logo.black,
.dOpen .header_logo.black{
  opacity: 1;
}
header:hover .header_logo.white,
.dOpen  .header_logo.white{
  opacity: 0;
}
header:hover .header_left .site_group,
.dOpen .header_left .site_group{
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3.6rem;
  padding: 0.6rem;
}
header:hover .h_nav li a,
.dOpen .h_nav li a{
  color:#000
}
header:hover .sch_btn,
.dOpen .sch_btn{
  background: url(../image/btn_totalsearch.png) no-repeat center/1.8rem;
}

.sOpen header {background-color: #fff;}
.sOpen .header_logo.black{opacity: 1;}
.sOpen .header_logo.white{opacity: 0;}
.sOpen .header_left .site_group{background-color: rgba(0, 0, 0, 0.4);}
.sOpen .h_nav li a{color:#000}
.sOpen header:hover .sch_btn,
.sOpen .sch_btn{background: url(../image/btn_totalsearch_close.svg) no-repeat center/1.8rem;}














/*100%서브배경박스*/
.sub_bgbox{ 
  display:none;
  position: absolute;
  top: 100%;
  left: 0;
	width:100%;
	height:220px; 
  background: rgba(0,0,0,0.5);
  /* background-color: #fff; */
}