/* Tablet 1199px 이하 */

@media screen and (max-width:1199px){
/* header */
  .header_tit h1 img{
    width: 10rem;
    height: 8rem;
  }
  header{height: 6.3rem;}
  header:hover{background-color: transparent;}
  header:hover .header_logoblue{opacity: 1;}
  header .hrel{
    width: 100%;
    max-width: 100%;
    height: 6.3rem;
    padding: 0 2rem;
  }

/* Trigger Menu - 햄버거 버튼 */
  .mob_btn{
    display: block;
    width: 2.8rem;
    height: 1.8rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1100;
    cursor: pointer;
  }

  .mob_btn span{
    position: absolute;
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
  }
  .mob_btn span:nth-child(1){top: 0;}
  .mob_btn span:nth-child(2){top: 50%; transform: translateY(-50%);}
  .mob_btn span:nth-child(3){top: 100%; transform: translateY(-100%);}

  /* 햄버거 활성화 시 X 모양 */
  .mob_btn.active span{background-color: #000;}
  .mob_btn.active span:nth-child(1){
    transform: rotate(45deg);
    top: 50%;
  }
  .mob_btn.active span:nth-child(2){
    transform: translateX(100%);
    opacity: 0;
  }
  .mob_btn.active span:nth-child(3){
    transform: rotate(-45deg);
    top: 50%;
  }

  /* Scrolling - body에 scrolling을 붙이면~ */
  .scrolling header{
    background-color: rgba(255, 255, 255, 0.68);
    height: 6rem;
  }
  .scrolling .header_logoblue{opacity: 1;}
  .scrolling .mob_btn span{background-color: #000;}

/* 모바일 패널 기본은 화면 밖 */
.sub_menu{
  position: fixed; 
  top: 0; 
  right: -100%;
  width: 70%; 
  max-width: 420px; 
  height: 100dvh;
  background: rgba(255, 255, 255, 0.98);
  backdrop-filter: blur(10px);
  overflow-y: auto;
  transition: left 0.4s ease-in-out; 
  z-index: 1050;
  padding: 8rem 2rem 2rem;
  box-shadow: 2px 0 10px rgba(0,0,0,0.1);
}

/* 햄버거로 열렸을 때 화면 안으로 */
.sub_menu.open{ 
  right: 0; 
}

/* 메뉴 컨테이너 */
.sub_menu .inner{
  width: 100%;
}

/* gnb 전체 */
.sub_menu .gnb{
  display: flex;
  flex-direction: column;
}

/* 메인 메뉴 아이템 */
.sub_menu .main{
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

/* 메인 메뉴 타이틀 */
.sub_menu .main > .main_tit {
  display: block;
  width: 100%;
  padding: 2rem 1rem;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  color: #333;
  cursor: pointer;
  transition: 0.3s;
}

.sub_menu .main > .main_tit:hover{
  color: #0066cc;
}

/* 화살표 아이콘 */
.sub_menu .main > .main_tit:before,
.sub_menu .main > .main_tit:after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 0.2rem;
  background-color: #666;
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transition: 0.3s ease-in-out;
}

.sub_menu .main > .main_tit:after {
  transform: rotate(90deg);
}

/* 활성화 시 화살표 회전 */
.sub_menu .main.active > .main_tit:after{
  transform: rotate(0deg);
}

/* 서브 메뉴 */
.sub_menu .sub {
  display: none;
  background-color: #e8e8e8;
  width: 100%;
  height: auto;
  padding: 0;
}

.sub_menu .sub li {
  padding: 0;
}

.sub_menu .sub li a{
  display: block;
  padding: 1.2rem 2rem;
  font-size: 1.4rem;
  color: #666;
  transition: 0.2s;
  border-bottom: 1px solid #e8e8e8;
}

.sub_menu .sub li a:hover{

  color: #0066cc;
  padding-left: 2.5rem;
}

/* body가 mOpen 상태일 때 */
.mOpen{
  overflow: hidden;
}

/* 모달 배경 (어두운 배경) */
.mOpen:after{
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  z-index: 1040;
}

.mOpen header{
  background-color: transparent;
}

/* section0 비주얼*/
#section0{
  background: url(../image/ocean/ocean_11.jpg) no-repeat center bottom/cover;
  height: 100vh;
  padding: 0;
  overflow: hidden;
}

/* section1 */
.magaleft img{
  width: 25rem;
  height: 35rem;
}

.magaright img{
  width: 25rem;
  height: 35rem;
}

/* section3 */
.bluebg{
  width: 100%;
  height: 100%;
}

.text-box{
  top: 2rem;
  left: 30%;
}
.text5{font-size: 2rem;}
.text6{font-size: 1.4rem;}
.text7{font-size: 1.2rem;}

.blueimg img{
  width: 40rem;
  height: 20rem;
}

.img_box{
  margin: 2rem 0;
}

.onelist{
  padding: 2rem;
  display: flex;
  grid-template-columns: repeat(2,1fr);
}
.onelist .img_box{
  flex:0 0 calc(50% - clamp(16px, 2vw, 28px)*0.5);
}

/* section4 */
.bluebg2{
  width: 100%;
  height: 100%;
}

.blueimg2 img{
  width: 40rem;
  height: 20rem;
}

.text-box2{
  top: 2rem;
  left: 30%;
}

/* section5 */
.img-right img{
  width: 30rem;
  height: 30rem;
}

.img-left{
  position: absolute;
  left: 0;
}

.img-right{
  position: absolute;
  bottom: 0;
  right: 4rem;
}

/* footer */
.footer_copy{
  width: 100%;
  height: 100%;
}

.copy_right{
  display: none;
}

.text-left{
  position: absolute;
  top: 10rem;
  left: 11rem;
}

}

/* Mobile 767px 이하 */
@media screen and (max-width:767px){

  header,
  #section1,
  #section2,
  #section3,
  #section4,
  #section5,
  #section6,
  #section7,
  footer{overflow: hidden;}

  /* 모바일에서는 메뉴 width 100% */
  .sub_menu{
    width: 100%;
    max-width: 100%;
  }

  /* section0 */
  #section0{
    background: url(../image/ocean/ocean_1.jpg) no-repeat center bottom/cover;
    height: 50rem;
    padding: 0;
    overflow: hidden;
  }

  #section0 .tit_wrap{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2rem;
  }
  
  #section0 p.txt1{
    margin: 2.8rem 0;
    font-size: 1.3rem;
    color: #fff;
  }
  
  #section0 h2.tit{
    color: #fff;
    font-size: 1.4rem;
    line-height: 2.5rem;
  }

  /* section1 */
  .magabg{flex-direction: column;}
  .magaleft{margin-bottom: 5rem;}
  .magaleft img{height: 30rem;}
  .magaright img{height: 30rem;}
  .text1{font-size: 1.3rem;}
  .text2{
    font-size: 1rem;
    line-height: 1.5rem;
  }


  /* section2 */
  .iconkingbg{
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  /* section3 */
  .bluebg{
    width: 100%;
    height: 100%;
    background-position: center top;
    background-size: cover;
  }

  .text-box{
    top: 2rem;
    left: 10%;
  }

  
  .text5{font-size: 1.8rem;}
  .text6{font-size: 1.2rem;}
  .text7{font-size: 1rem;}
  .text8{font-size: 1.4rem;}

  .blueimg img{
    width: 40rem;
    height: 20rem;
  }

  .img_box{
    margin: 2rem 0;
  }

  .onelist{
    padding: 2rem;
    display: flex;
    grid-template-columns: repeat(2,1fr);
  }
  
  .onelist .img_box{
    flex:0 0 calc(50% - clamp(16px, 2vw, 28px)*0.5);
  }

  /* section4 */
  .bluebg2{
    width: 100%;
    height: 100%;
    background-position: center top;
    background-size: cover;
  }

  .blueimg2 img{
    width: 40rem;
    height: 20rem;
  }

  .text-box2{
    top: 2rem;
    left: 8%;
  }

  /* section5 */
  .all-box{
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
  }

  .img-right img{
    width: 20rem;
    height: 20rem;
  }

  .text-left{
    position: absolute;
    width: 26rem;
    height: 25rem;
    top: 18rem;
    left: 0.8rem;
  }

  .img-right{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 4rem;
  }

  /* footer */
  footer{
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copy_left{
    text-align: center;
  }

  .copy_center ul li a{
    font-size: 0.6rem;
  }
  .copy_center address{
    font-size: 0.5rem;
  }
    

  .copy_right{
    display: none;
  }

  .copy_center ul li{font-size: 0.8rem;}

  .footer_copy{
    width: 100%;
    height: 100%;
  }

  /* scrollTop_btn */
  .scrollTop_btn_pc{display: none;}
  .scrollTop_btn_mo{
    display: block;
    position: fixed;
    z-index: 5;
    width: 6rem;
    bottom: 3rem;
    right: 3rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    text-align: center;
    opacity: 0;
    transition: 0.3s ease-in-out;
    transition-delay: 0.5s;
  }
  
  .scrollTop_btn_mo a{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 0.5rem;
  }
  
  .scrollTop_btn_mo a:last-child{
    border-top: 1px solid #fff;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
  }
}