/* Tablet 1199px 이하 */

@media screen and (max-width:1199px){
/* header */
  .header_tit h1 img{
    width: 10rem;
    height: 8rem;
  }
  header{height: 6.3rem;}
  header:hover{background-color: transparent;}
  header:hover .header_logoblue{opacity: 1;}
  header .hrel{
    width: 100%;
    max-width: 100%;
    height: 6.3rem;
    padding: 0 2rem;
  }

/* Trigger Menu */
  .mob_btn{
    display: block;
    width: 2.8rem;
    height: 1.8rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .mob_btn span{
    position: absolute;
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: rgb(255, 255, 255);
  }
  .mob_btn span:nth-child(1){top: 0;}
  .mob_btn span:nth-child(2){top: 50%;}
  .mob_btn span:nth-child(3){top: 100%;}

  /* Scrolling - body에 scrolling을 붙이면~*/
  .scrolling header{
    background-color: rgba(255, 255, 255, 0.68);
    height: 6rem;
  }
  .scrolling .header_logo.blue{opacity: 1;}



/* subNav */
  .subNav{
    display: block;
    position: fixed;
    top: 6.3rem;
    /* right: 0; */
    right: -60%; /* 오른쪽으로 밀어둠 */
    width: 60%;
    height: 100vh;
    background-color: #303030;
    color: #fff;
    transition: right 0.3s ease-in-out;
  }
  .subNav .inner{
    background-color: #fff;
    color: #000;
    padding: 2rem;
  }
  .sub_menu .sub_tit{ display: none;}  /* pc용 주메뉴는 안보이게 함 */
  .sub_menu{width: 100%;}
  .sub_menu .depth1 {
    flex-direction: column;
    flex-wrap: nowrap; 
  }
  .sub_menu .depth1>li {
    width: 100%;
    padding: 1.5rem 0;
    margin-bottom: 0;
  }
  .sub_menu .depth1>li>span {  /* 모바일메뉴에서 보이는 메인메뉴1~5 */
    display: block;
    width: 100%;
    position: relative;
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
  }
  .sub_menu .depth2 {
    display: none;
    background-color: #f6f6f6;
    padding: 1.5rem;
    font-weight: 700;
  }
  .sub_menu .depth2>li {
    font-size: 1.4rem;
    color: #6b65c2;
    line-height: 1.6;
  }
  .sub_menu .depth1>li>span:before,
  .sub_menu .depth1>li>span:after {
    content: '';
    display: block;
    width: 1.3rem;
    height: 0.1rem;
    background-color: rgb(127, 165, 236);
    position: absolute;
    top: 49%;
    right: 1.3rem;
    height: 0.1rem;
    transition: 0.3s ease-in-out;
  }
  .sub_menu .depth1>li>span:after {transform: rotate(90deg);}
  .sub_menu .depth1>li.active >span:after{transform: rotate(0deg);}

 
  /* 햄거버메뉴 클릭시 나오는 서브메뉴(body에  mOpen클래스를 붙이면~)*/
  .mOpen .subNav{right: 0;}
  .mOpen header{
    background-color: rgb(255, 255, 255);
    border-bottom: 0.1rem solid #e8e8e8;
  }
  .mOpen header:hover .header_logo.black{opacity: 1;}
  .mOpen header:hover .header_logo.white{opacity:0}
  .mOpen .header_logo.black{opacity: 1;}
  .mOpen .header_logo.white{opacity: 0;}
  .mOpen .mob_btn span{background-color: #000;}
  .mOpen .mob_btn span:nth-child(1){
    transform: rotate(45deg);
    top: 50%;
  }
  .mOpen .mob_btn span:nth-child(2){
    transform: translateX(100%);
    opacity: 0;
  }
  .mOpen .mob_btn span:nth-child(3){
    transform: rotate(-45deg);
    top: 50%;
  }
  .mOpen{overflow: hidden;}   /* 추가 메뉴가 나왔을 때 아래의 컨텐츠의 스크롤은 막음 */
  .mOpen:after{  /* 태블릿메뉴에서 왼쪽의 나머지 부분은 모달(검정)*/
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
  }

/* section0 비주얼*/
#section0{
  background: url(../image/ocean/ocean_11.jpg) no-repeat center bottom/cover;
  height: 100vh;
  padding: 0;
  overflow: hidden;
}

/* section1 */
.magaleft img{
  width: 25rem;
  height: 35rem;
}

.magaright img{
  width: 25rem;
  height: 35rem;
}

/* section3 */
.bluebg{
  width: 100%;
  height: 100%;
}

.text-box{
  top: 2rem;
  left: 30%;
}
.text5{font-size: 2rem;}
.text6{font-size: 1.4rem;}
.text7{font-size: 1.2rem;}


.blueimg img{
  width: 40rem;
  height: 20rem;
}

.img_box{margin: 2rem 0;
}

.onelist{
  padding: 2rem;
  display: flex;
  grid-template-columns: repeat(2,1fr);
}
.onelist .img_box{
    flex:0 0 calc(50% - clamp(16px, 2vw, 28px)*0.5);
}
/* section4 */
.bluebg2{
  width: 100%;
  height: 100%;
}

.blueimg2 img{
  width: 40rem;
  height: 20rem;
}

.text-box2{
  top: 2rem;
  left: 30%;
}


/* section5 */
.img-right img{
  width: 30rem;
  height: 30rem;
}

.img-left{
  position: absolute;
  left: 0;
}

.img-right{
  position: absolute;
  bottom: 0;
  right: 4rem;
}

/* footer */
.footer_copy{
  width: 100%;
  height: 100%;
}


.copy_right{
  display: none;
}


}

/* Mobile 767px 이하 */
@media screen and (max-width:767px){

  header,
  #section1,
  #section2,
  #section3,
  #section4,
  #section5,
  #section6,
  #section7,
  footer{overflow: hidden;}

  .mob_only{display: block;} 

  .subNav{
    right: -110%;
    width: 100%;
  }

  header{padding: 0;}  /* 추가 */

  /* section0 */
  #section0{
  background: url(../image/ocean/ocean_1.jpg) no-repeat center bottom/cover;
  height: 100vh;
  padding: 0;
  overflow: hidden;
}

#section0 .tit_wrap{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
}
#section0 p.txt1{
  margin: 2.8rem 0;
  font-size: 1.6rem;
  color: #fff;
}
#section0 h2.tit{
  color: #fff;
  font-size: 1.8rem;
  line-height: 5rem;
}

  /* section1 */
.magabg{flex-direction: column;}
.magaleft{margin-bottom: 5rem;}

/* section2 */
.iconkingbg{
  width: 100%;
  height: 100%;
  flex-direction: column;
}


/* section3 */
.bluebg{
  width: 100%;
  height: 100%;
  background-position: center top;
  background-size: cover;
}

.text-box{
  top: 2rem;
  left: 10%;
}
.text5{font-size: 2rem;}
.text6{font-size: 1.4rem;}
.text7{font-size: 1.2rem;}


.blueimg img{
  width: 40rem;
  height: 20rem;
}

.img_box{margin: 2rem 0;
}

.onelist{
  padding: 2rem;
  display: flex;
  grid-template-columns: repeat(2,1fr);
}
.onelist .img_box{
    flex:0 0 calc(50% - clamp(16px, 2vw, 28px)*0.5);
}
/* section4 */
.bluebg2{
  width: 100%;
  height: 100%;
  background-position: center top;
  background-size: cover;
}

.blueimg2 img{
  width: 40rem;
  height: 20rem;
}

.text-box2{
  top: 2rem;
  left: 8%;
}


/* section5 */
.all-box{
  width: 100%;
  height: 100%;
  
  position: relative;
  flex-direction: column;
}

.img-right img{
  width: 30rem;
  height: 30rem;
}

.text-left{
  position: absolute;
  width: 30rem;
  height: 25rem;
  top: 20rem;
  left: 3.3rem;
}

.img-right{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 4rem;
}

/* footer */
footer{
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy_right{
  display: none;
}

.copy_center ul li{font-size: 0.8rem;}

.footer_copy{
  width: 100%;
  height: 100%;
}

/* scrollTop_btn */
  .scrollTop_btn_pc{display: none;}
  .scrollTop_btn_mo{
    display: block;
    position: fixed;
    z-index: 5;
    width: 8rem;
    bottom: 3rem;
    right: 3rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    text-align: center;
    opacity: 0;
    transition: 0.3s ease-in-out;
    transition-delay: 0.5s;
  }
  .scrollTop_btn_mo a{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 1rem;
  }
  .scrollTop_btn_mo a:last-child{
    border-top: 1px solid #fff;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
  }



  
  /* 예시 — 모바일 */
@media (max-width:767px){
  .sub_menu{opacity:0;visibility:hidden;transition:opacity .25s}
  .sub_menu.is-open{opacity:1;visibility:visible;}
  .sub_menu .gnb{transform:translateY(-110%);transition:transform .35s;}
  .sub_menu.is-open .gnb{transform:translateY(0);} /* ← 이 줄 필수! */
}

}
